* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header, .hero-section {
    background-color: #1F2937;
    color: #F9FAF8
}

.header {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-section {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

.hero-section-right {
    height: 200px;
    width: 400px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-links {
    display: flex;
    gap: 30px;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.btn {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 16px;
    height: 38px;
    width: 100px;
    font-weight: bold;
}

.content{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px
}

.cards {
    display: flex;
    gap: 40px;
    /* justify-content: center; */
}

.card_placeholder{
    width: 150px;
    height: 150px;
    border: 3px solid #3574fa;
    border-radius: 15px;
}

.card_sub {
    padding: 6px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.grey_area {
    margin: 50px 0;
    padding: 60px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 700px;
    
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote2 {
    font-size: 28px;
    color: #1F2937;
    font-weight: 500;
    align-self:flex-end;
}

.call_to_action_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background-color:  #3882F6;
    width: 900px;
    height: 120px;
    margin: 100px auto;
    border-radius: 15px;
    color: white;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    height: 90px;
    margin-top: 100px;
    color: white;
}